random-filter-s:
    puck:
      docker-tag: neurips23-filter-puck
      module: neurips23.filter.puck.puck
      constructor: Puck
      base-args: ["@metric"]
      run-groups:
        base:
          args: |
                [{ "index_type": 3, "C":100, "F":100, "FN":16, "N":0}]
          query-args: |
                [ 
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":135},                   
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":105},                   
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":110},                   
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":115},                   
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":120 }                 
                ]
  
random-s:
    puck:
      docker-tag: neurips23-filter-puck
      module: neurips23.filter.puck.puck
      constructor: Puck
      base-args: ["@metric"]
      run-groups:
        base:
          args: |
                [{ "index_type": 1, "C":100, "F":100, "FN":16, "N":0}]
          query-args: |
                [ 
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":135},                   
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":105},                   
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":110},                   
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":115},                   
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":120 }                 
                ]

yfcc-10M-unfiltered:
    puck:
      docker-tag: neurips23-filter-puck
      module: neurips23.filter.puck.puck
      constructor: Puck
      base-args: ["@metric"]
      run-groups:
        base:
          args: |
                [{ "index_type": 1, "C":1000, "F":1000, "FN":16, "N":0}]
          query-args: |
                [ 
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":135},                   
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":105},                   
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":110},                   
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":115},                   
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":120 }                 
                ]

yfcc-10M:
    puck:
      docker-tag: neurips23-filter-puck
      module: neurips23.filter.puck.puck
      constructor: Puck
      base-args: ["@metric"]
      run-groups:
        base:
          args: |
                [{ "index_type": 3, "C":1000, "F":1000, "FN":16, "N":0}]
          query-args: |
                [ 
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":135},                   
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":105},                   
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":110},                   
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":115},                   
                    {"radius_rate":1.00 ,"search_coarse_count":30, "filter_topk":120 }                 
                ]
