random-xs:
    vamana: 
      docker-tag: neurips23-ood-vamana
      module: neurips23.ood.vamana.vamana
      constructor: vamana
      base-args: ["@metric"]
      run-groups:
        base:
          args: |
            [{"R":32, "L":50, "alpha":1.2}]
          query-args: |
            [{"Ls":50, "T":8}]
text2image-10M:
    vamana: 
      docker-tag: neurips23-ood-vamana
      module: neurips23.ood.vamana.vamana
      constructor: vamana
      base-args: ["@metric"]
      run-groups:
        base:
          args: |
            [{"R":55, "L":500, "alpha":1.0, "two_pass":1, "use_query_data":1, "compress":1}]
          query-args: |
            [
             {"Ls":70, "T":8},
             {"Ls":80, "T":8},
             {"Ls":90, "T":8},
             {"Ls":95, "T":8},
             {"Ls":100, "T":8},
             {"Ls":105, "T":8},
             {"Ls":110, "T":8},
             {"Ls":120, "T":8},
             {"Ls":125, "T":8},
             {"Ls":150, "T":8},
    vamana-singlepass: 
      docker-tag: neurips23-ood-vamana
      module: neurips23.ood.vamana.vamana
      constructor: vamana
      base-args: ["@metric"]
      run-groups:
        base:
          args: |
            [{"R":64, "L":500}]
          query-args: |
            [{"Ls":30, "T":8},
             {"Ls":50, "T":8},
             {"Ls":70, "T":8},
             {"Ls":100, "T":8},
             {"Ls":113, "T":8},
             {"Ls":125, "T":8},
             {"Ls":150, "T":8},
             {"Ls":175, "T":8},
             {"Ls":200, "T":8}]

